@{
    ViewData["Title"] = "Bem Vindo";
}

<div class="text-center">
    <h1 class="display-4">Equação 2 grau</h1>
    <!--
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    -->
    <h4> Resolução das raizes de uma eq 2º grau</h4>
    
    <form>
        @*
                    Este Formulario só será visto por mim no rider
                    nao falta aplicar css obrigado!
        *@
        <div style="display: flex; flex-direction: column; gap: 1rem;">
            <p>Especifique por favor, os coeficientes da equação</p>
            <div style="display: flex; flex-direction: column; gap: 1rem; ">
                <div><span style="margin-right: 1rem;">A:</span><input name="A" type="text"/></div>
                <div><span style="margin-right: 1rem">B:</span><input name="B" type="text"/></div>
                <div><span style="margin-right: 1rem">C:</span><input name="C" type="text"/></div>
            </div>
            <input type="submit" value="Calculates"/>
        </div>
    </form>
    
    
    @*
    ler conteudo do viewBag
    *@
    <div style="display: flex; flex-direction: column; gap: 1rem">
        @{
            if (!String.IsNullOrEmpty(@ViewBag.Mensagem))
            {
                <p> @ViewBag.Mensagem</p>
            }
        }
                @{
                    if (!String.IsNullOrEmpty(@ViewBag.Mensagem))
                    {
                        <p> @ViewBag.x1</p>
                        ;
                    }
                }
        @{
            if (!String.IsNullOrEmpty(@ViewBag.Mensagem))
            {
                <p> @ViewBag.x2</p>
                ;
            }
        }

    </div>
</div>